/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.w-full.max-w-md.mx-auto.overflow-y-auto.max-h-96 {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.w-full.max-w-md.mx-auto.overflow-y-auto.max-h-96::-webkit-scrollbar {
  width: 12px;
}

.w-full.max-w-md.mx-auto.overflow-y-auto.max-h-96::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.w-full.max-w-md.mx-auto.overflow-y-auto.max-h-96::-webkit-scrollbar-track {
  background-color: transparent;
}
